# Generate via `deno eval 'import{encodeBase64}from "jsr:@std/encoding/base64";console.log(encodeBase64(crypto.getRandomValues(new Uint8Array(32))))'`
APP_SECRET="hgd1czxlthHXtZRtdSjoykFaCnVJHo/zU8wAE4ogyzY="
USERNAME="johndoe"
PASSWORD="password123"

# Provide these if you want to support [bindings](https://developers.cloudflare.com/pages/functions/bindings/)
CLOUDFLARE_LOCAL="false" # Set to "true" to make local binding calls. Useful when experimenting or offline.
CLOUDFLARE_API_TOKEN=""
CLOUDFLARE_ACCOUNT_ID=""
